body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;   
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-container {
    padding: 10 20px;;
}

.title-container h1 {
    font-weight: normal;
}

.hero {
    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
    max-width: 800px;
}

.hero .image-caption {
    position: relative;
    bottom: 5px;
    font-size: 14px;
    color: #aaa;
}

main {
    padding: 10px 20px; 
    max-width: 800px;
    margin: 20px 0 40px;
}

.content p {
    line-height: 1.5rem;
    font-size: 16px;
}

.video {
    display: flex;
    justify-content: center;
}